@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

@font-face {
  font-family: "Maiandra GD", cursive;
  src: url(https://hiddenuser0.neocities.org/bebeciel835/font/MAIAN.TTF);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #4aa5f8;
}

body {
  font-family: "Sofia", cursive;
  font-size: x-large;
  color: white;
}

header {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: black;
}
.navSpan {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}
.navActive {
  color: #4aa5f8;
}
.navURL:link {
  color: white;
  text-decoration: none;
}
.navURL:visited {
  color: white;
  text-decoration: none;
}
.navURL:hover {
  color: #6dcefc;
  text-decoration: none;
}
.navURL:active {
  color: #4aa5f8;
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: black;
  font-family: "Maiandra GD", cursive;
  font-size: medium;
}

.holding {
  padding: 250px 100px;
  background-color: #00000080;
  text-align: center;
}

.heroBack {
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.heroFore {
  background-color: #00000080;
  padding: 250px 100px;
  text-align: center;
}

.changeBtn {
  background-color: #4aa5f8;
  border: solid 1.25px white;
  border-radius: 1000px;
  color: white;
  padding: 10px 25px;
  font-family: "Sofia", cursive;
  font-size: large;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
}
.changeBtn:hover {
  background-color: #6dcefc;
}

.recordList {
  padding: 75px;
  text-align: center;
  background-color: #4aa5f8;
}
.recordDetails {
  padding: 25px 50px;
}
#showJewelries {
  display: none;
}

#mapView {
  width: 100%;
  height: 100%;
}

.aboutSec {
  padding: 25px;
}

.aboutCol {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 25px;
}
.aboutRow:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 800px) {
  .aboutCol {
    width: 100%;
    padding: 15px;
  }
}

.mainCol {
  float: left;
  width: 50%;
  text-align: center;
  padding: 25px;
}
.mainRow:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 800px) {
  .mainCol {
    width: 100%;
    padding: 15px;
  }
}